version: '3.6'
services:
  server:
    build: .
    ports:
      - ${PORT}:${PORT}
    env_file: .env
    depends_on:
      - db
    volumes:
      - ./:/app
  db:
    image: postgres:10.16
    env_file:
      - ./.env
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
      - db-data:/var/lib/postgresql/data
volumes:
  db-data: